In [1]:
%config Completer.use_jedi = False

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Introducción" data-toc-modified-id="Introducción-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Introducción</a></span></li><li><span><a href="#Instalación" data-toc-modified-id="Instalación-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Instalación</a></span></li><li><span><a href="#Introducción-a-las-estructuras-de-datos-de-pandas" data-toc-modified-id="Introducción-a-las-estructuras-de-datos-de-pandas-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Introducción a las estructuras de datos de pandas</a></span><ul class="toc-item"><li><span><a href="#Series" data-toc-modified-id="Series-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Series</a></span></li><li><span><a href="#Buscar-valores-NaN" data-toc-modified-id="Buscar-valores-NaN-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Buscar valores NaN</a></span></li></ul></li><li><span><a href="#Datos-de-lectura/escritura" data-toc-modified-id="Datos-de-lectura/escritura-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Datos de lectura/escritura</a></span><ul class="toc-item"><li><span><a href="#Cargamos-datos-de-formato-CSV" data-toc-modified-id="Cargamos-datos-de-formato-CSV-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Cargamos datos de formato CSV</a></span></li><li><span><a href="#Cargamos-datos-de-formato-xlsx" data-toc-modified-id="Cargamos-datos-de-formato-xlsx-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Cargamos datos de formato xlsx</a></span></li><li><span><a href="#Visualizamos-las-primeras-filas" data-toc-modified-id="Visualizamos-las-primeras-filas-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Visualizamos las primeras filas</a></span></li><li><span><a href="#Visualizamos-las-últimas-filas" data-toc-modified-id="Visualizamos-las-últimas-filas-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>Visualizamos las últimas filas</a></span></li><li><span><a href="#Visualizamos-una-muestra-aleatoria" data-toc-modified-id="Visualizamos-una-muestra-aleatoria-4.5"><span class="toc-item-num">4.5&nbsp;&nbsp;</span>Visualizamos una muestra aleatoria</a></span></li></ul></li><li><span><a href="#Análisis-exploratorio-de-un-dataframe" data-toc-modified-id="Análisis-exploratorio-de-un-dataframe-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Análisis exploratorio de un dataframe</a></span></li><li><span><a href="#Operaciones-básicas-con-los-dataframes" data-toc-modified-id="Operaciones-básicas-con-los-dataframes-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Operaciones básicas con los dataframes</a></span><ul class="toc-item"><li><span><a href="#Seleccionamos-una-columna" data-toc-modified-id="Seleccionamos-una-columna-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Seleccionamos una columna</a></span></li><li><span><a href="#Seleccionamos-varias-columnas" data-toc-modified-id="Seleccionamos-varias-columnas-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>Seleccionamos varias columnas</a></span></li><li><span><a href="#Obtener-los-valores-únicos-de-una-columna-(es-decir,-una-serie)" data-toc-modified-id="Obtener-los-valores-únicos-de-una-columna-(es-decir,-una-serie)-6.3"><span class="toc-item-num">6.3&nbsp;&nbsp;</span>Obtener los valores únicos de una columna (es decir, una serie)</a></span></li><li><span><a href="#Cambiar-el-tipo-de-datos-de-una-columna" data-toc-modified-id="Cambiar-el-tipo-de-datos-de-una-columna-6.4"><span class="toc-item-num">6.4&nbsp;&nbsp;</span>Cambiar el tipo de datos de una columna</a></span></li><li><span><a href="#Filtramos-los-datos-por-el-valor-de-las-columnas" data-toc-modified-id="Filtramos-los-datos-por-el-valor-de-las-columnas-6.5"><span class="toc-item-num">6.5&nbsp;&nbsp;</span>Filtramos los datos por el valor de las columnas</a></span></li><li><span><a href="#Copia-de-un-dataframe-y-renombrar-columnas" data-toc-modified-id="Copia-de-un-dataframe-y-renombrar-columnas-6.6"><span class="toc-item-num">6.6&nbsp;&nbsp;</span>Copia de un dataframe y renombrar columnas</a></span><ul class="toc-item"><li><span><a href="#Renombramos-columnas" data-toc-modified-id="Renombramos-columnas-6.6.1"><span class="toc-item-num">6.6.1&nbsp;&nbsp;</span>Renombramos columnas</a></span></li><li><span><a href="#Podemos-renombrar-las-columnas-machacando-el-atributo-de-la-instancia...-¿os-suena-esto?" data-toc-modified-id="Podemos-renombrar-las-columnas-machacando-el-atributo-de-la-instancia...-¿os-suena-esto?-6.6.2"><span class="toc-item-num">6.6.2&nbsp;&nbsp;</span>Podemos renombrar las columnas machacando el atributo de la instancia... ¿os suena esto?</a></span></li></ul></li><li><span><a href="#Borramos-columnas" data-toc-modified-id="Borramos-columnas-6.7"><span class="toc-item-num">6.7&nbsp;&nbsp;</span>Borramos columnas</a></span></li><li><span><a href="#Borramos-filas" data-toc-modified-id="Borramos-filas-6.8"><span class="toc-item-num">6.8&nbsp;&nbsp;</span>Borramos filas</a></span></li><li><span><a href="#Reset_index-y-set_index" data-toc-modified-id="Reset_index-y-set_index-6.9"><span class="toc-item-num">6.9&nbsp;&nbsp;</span>Reset_index y set_index</a></span><ul class="toc-item"><li><span><a href="#SET_INDEX" data-toc-modified-id="SET_INDEX-6.9.1"><span class="toc-item-num">6.9.1&nbsp;&nbsp;</span>SET_INDEX</a></span></li></ul></li><li><span><a href="#Operaciones-entre-columnas" data-toc-modified-id="Operaciones-entre-columnas-6.10"><span class="toc-item-num">6.10&nbsp;&nbsp;</span>Operaciones entre columnas</a></span></li></ul></li><li><span><a href="#Apply-!!" data-toc-modified-id="Apply-!!-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Apply !!</a></span></li><li><span><a href="#Df-.loc-e-.iloc" data-toc-modified-id="Df-.loc-e-.iloc-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Df .loc e .iloc</a></span><ul class="toc-item"><li><span><a href="#Seleccionar-filas-y-columnas-en-Pandas-mediante-posición-con-iloc" data-toc-modified-id="Seleccionar-filas-y-columnas-en-Pandas-mediante-posición-con-iloc-8.1"><span class="toc-item-num">8.1&nbsp;&nbsp;</span>Seleccionar filas y columnas en Pandas mediante posición con iloc</a></span></li><li><span><a href="#Seleccionar-filas-y-columnas-en-Pandas-en-base-a-etiquetas-con-loc" data-toc-modified-id="Seleccionar-filas-y-columnas-en-Pandas-en-base-a-etiquetas-con-loc-8.2"><span class="toc-item-num">8.2&nbsp;&nbsp;</span>Seleccionar filas y columnas en Pandas en base a etiquetas con loc</a></span><ul class="toc-item"><li><span><a href="#En-base-a-etiqueta" data-toc-modified-id="En-base-a-etiqueta-8.2.1"><span class="toc-item-num">8.2.1&nbsp;&nbsp;</span>En base a etiqueta</a></span></li></ul></li></ul></li><li><span><a href="#Ordenamos-un-dataframe" data-toc-modified-id="Ordenamos-un-dataframe-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Ordenamos un dataframe</a></span><ul class="toc-item"><li><span><a href="#Buscamos-valores-nulos" data-toc-modified-id="Buscamos-valores-nulos-9.1"><span class="toc-item-num">9.1&nbsp;&nbsp;</span>Buscamos valores nulos</a></span><ul class="toc-item"><li><span><a href="#¿Es-nulo?" data-toc-modified-id="¿Es-nulo?-9.1.1"><span class="toc-item-num">9.1.1&nbsp;&nbsp;</span>¿Es nulo?</a></span></li><li><span><a href="#¿Es-NO-nulo?" data-toc-modified-id="¿Es-NO-nulo?-9.1.2"><span class="toc-item-num">9.1.2&nbsp;&nbsp;</span>¿Es NO nulo?</a></span></li><li><span><a href="#Sacar-una-suma-de-los-valores-nulos-de-cada-columna" data-toc-modified-id="Sacar-una-suma-de-los-valores-nulos-de-cada-columna-9.1.3"><span class="toc-item-num">9.1.3&nbsp;&nbsp;</span>Sacar una suma de los valores nulos de cada columna</a></span></li></ul></li><li><span><a href="#Borramos-los-valores-nulos" data-toc-modified-id="Borramos-los-valores-nulos-9.2"><span class="toc-item-num">9.2&nbsp;&nbsp;</span>Borramos los valores nulos</a></span></li><li><span><a href="#Cómo-rellenar-los-datos-que-faltan" data-toc-modified-id="Cómo-rellenar-los-datos-que-faltan-9.3"><span class="toc-item-num">9.3&nbsp;&nbsp;</span>Cómo rellenar los datos que faltan</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#CATEGÓRICAS-EN-DATAFRAME-Y-DEJAR-DOCUMENTACIÓN" data-toc-modified-id="CATEGÓRICAS-EN-DATAFRAME-Y-DEJAR-DOCUMENTACIÓN-9.3.0.1"><span class="toc-item-num">9.3.0.1&nbsp;&nbsp;</span>CATEGÓRICAS EN DATAFRAME Y DEJAR DOCUMENTACIÓN</a></span></li></ul></li></ul></li></ul></li><li><span><a href="#Borramos-los-duplicados" data-toc-modified-id="Borramos-los-duplicados-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Borramos los duplicados</a></span></li><li><span><a href="#Agregación-de-datos" data-toc-modified-id="Agregación-de-datos-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Agregación de datos</a></span><ul class="toc-item"><li><span><a href="#GroupBy" data-toc-modified-id="GroupBy-11.1"><span class="toc-item-num">11.1&nbsp;&nbsp;</span>GroupBy</a></span><ul class="toc-item"><li><span><a href="#Me-preguntaréis-¿y-si-quiero-agrupar-por-más-columnas?" data-toc-modified-id="Me-preguntaréis-¿y-si-quiero-agrupar-por-más-columnas?-11.1.1"><span class="toc-item-num">11.1.1&nbsp;&nbsp;</span>Me preguntaréis ¿y si quiero agrupar por más columnas?</a></span></li></ul></li><li><span><a href="#Unión-de-Dataframes" data-toc-modified-id="Unión-de-Dataframes-11.2"><span class="toc-item-num">11.2&nbsp;&nbsp;</span>Unión de Dataframes</a></span></li><li><span><a href="#Concat" data-toc-modified-id="Concat-11.3"><span class="toc-item-num">11.3&nbsp;&nbsp;</span>Concat</a></span></li><li><span><a href="#Merge" data-toc-modified-id="Merge-11.4"><span class="toc-item-num">11.4&nbsp;&nbsp;</span>Merge</a></span></li><li><span><a href="#Join" data-toc-modified-id="Join-11.5"><span class="toc-item-num">11.5&nbsp;&nbsp;</span>Join</a></span></li></ul></li><li><span><a href="#Exportar-datos" data-toc-modified-id="Exportar-datos-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>Exportar datos</a></span></li><li><span><a href="#Métodos-habituales-de-pandas" data-toc-modified-id="Métodos-habituales-de-pandas-13"><span class="toc-item-num">13&nbsp;&nbsp;</span>Métodos habituales de pandas</a></span></li><li><span><a href="#Resumen" data-toc-modified-id="Resumen-14"><span class="toc-item-num">14&nbsp;&nbsp;</span>Resumen</a></span></li><li><span><a href="#Further-materials" data-toc-modified-id="Further-materials-15"><span class="toc-item-num">15&nbsp;&nbsp;</span>Further materials</a></span></li></ul></div>

# Pandas

![pandas](https://media.giphy.com/media/nVsLCrW5iHf6E/giphy.gif)

Mi gif favorito para la que, a partir de ahora, será tu librería favorita 😍

## Introducción 
Pandas es, sin duda, la biblioteca más utilizada en el ecosistema de Python para el análisis y la manipulación de datos. Es rápida, potente, flexible, fácil de usar y de código abierto. 


Entre sus principales características están
* Un objeto **DataFrame** rápido y eficiente para la manipulación de datos con indexación integrada
* **Lectura y escritura** de datos en multitud de formatos: Microsoflt Excel, CSV, bases de datos SQL, etc;
* Métodos integrados y eficientes para todo tipo de manipulación de datos: datos faltantes, subconjunto, unión, fusión, etc; 
* Facilidad para trabajar con datos temporales (de hecho, Pandas se llama así por "PANnel DAta") 
* Buena **integración con otras librerías** de análisis de datos o Machine learning: scikit-learn, scipy, seaborn, plotly, etc;
* Es **ampliamente utilizado** tanto en el sector privado como en el académico     


Pandas proporciona estructuras de datos de alto nivel y funciones diseñadas para hacer que el trabajo con datos estructurados o tabulares sea rápido, fácil y expresivo. Desde su aparición en 2010, ha ayudado a que Python sea un entorno de análisis de datos potente y productivo. Los principales objetos de pandas que se utilizarán en este libro son el DataFrame, una estructura de datos tabular orientada a columnas con etiquetas de filas y columnas, y la Serie, un objeto de matriz unidimensional etiquetado.

Pandas combina las ideas de alto rendimiento de NumPy con las capacidades flexibles de manipulación de datos de las hojas de cálculo y las bases de datos relacionales (como SQL). Proporciona una sofisticada funcionalidad de indexación para facilitar la remodelación, el corte y la división, la realización de agregaciones y la selección de subconjuntos de datos.

![image](https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Fgilpress%2Ffiles%2F2016%2F03%2FTime-1200x511.jpg)



Fuente: [Forbes](https://www.forbes.com/sites/gilpress/2016/03/23/data-preparation-most-time-consuming-least-enjoyable-data-science-task-survey-says/#1ba071616f63)

## Instalación

Lo primerito que deberás hacer, siempre será     
pip install pandas

In [2]:
import pandas as pd

## Introducción a las estructuras de datos de pandas
Para empezar con pandas, necesitarás sentirte cómodo con sus dos estructuras de datos de trabajo: Series y DataFrame. Aunque no son una solución universal para todos los problemas, proporcionan una base sólida y fácil de usar para la mayoría de las aplicaciones.

### Series
Una Serie es un objeto tipo array unidimensional que contiene una secuencia de valores (de tipos similares a los de NumPy) y un array asociado de etiquetas de datos, llamado su índice. La Serie más sencilla se forma a partir de un único array de datos:

In [3]:
serie = pd.Series(["hola",1,23,4, "otro string"])

In [4]:
serie

0           hola
1              1
2             23
3              4
4    otro string
dtype: object

In [5]:
type(serie)

pandas.core.series.Series

In [6]:
serie.values

array(['hola', 1, 23, 4, 'otro string'], dtype=object)

In [7]:
serie.index

RangeIndex(start=0, stop=5, step=1)

In [8]:
list(serie.values)

['hola', 1, 23, 4, 'otro string']

In [9]:
list(serie.index)

[0, 1, 2, 3, 4]

La representación en cadena de una Serie mostrada interactivamente muestra el índice a la izquierda y los valores a la derecha. Como no especificamos un índice para los datos, se crea uno por defecto formado por los enteros 0 a N - 1 (donde N es la longitud de los datos). Puedes obtener la representación del array y el objeto índice de la Serie a través de sus atributos values e index, respectivamente:

In [10]:
serie.values

array(['hola', 1, 23, 4, 'otro string'], dtype=object)

In [11]:
serie.index

RangeIndex(start=0, stop=5, step=1)

Otra forma de pensar en una Serie es como un dict ordenado de longitud fija, ya que es un mapeo de valores de índice a valores de datos. Se puede utilizar en muchos contextos en los que se podría utilizar un diccionario.
Si tienes datos contenidos en un dict de Python, puedes crear una Serie a partir de ellos pasando el dict:

In [12]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [13]:
seriedata = pd.Series(sdata)

In [14]:
seriedata

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [15]:
seriedata.index

Index(['Ohio', 'Texas', 'Oregon', 'Utah'], dtype='object')

In [16]:
seriedata.values

array([35000, 71000, 16000,  5000])

In [18]:
display(seriedata)

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

Cuando sólo se pasa un dict, el índice de la Serie resultante tendrá las claves del dict en orden. Puedes anular esto pasando las claves del dict en el orden que desee que aparezcan en la Serie resultante:

In [19]:
estados = ['California', 'Ohio', 'Oregon', 'Texas']

In [20]:
serie2 = pd.Series(sdata, index=estados)

In [21]:
serie2

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

Aquí, los tres valores encontrados en sdata se colocaron en los lugares apropiados, pero como no se encontró ningún valor para 'California', aparece como NaN (no es un número), lo que se considera en pandas para marcar valores perdidos o NA. Como "Utah" no se incluyó en los estados, se excluye del objeto resultante.

In [22]:
import numpy as np

In [26]:
print(np.nan)

nan

In [24]:
type(np.nan)

float

In [25]:
"NaN"

'NaN'

In [28]:
a = np.nan

In [30]:
if np.isnan(a) == True:
    print("Hola")

Hola

In [33]:
# No no puedo comprobar si a es un nan así 
a == np.nan

False

### Buscar valores NaN
NaN significa Not A Number (No es un número) y es una de las formas habituales de representar el valor que falta en los datos. Es un valor especial de punto flotante y no puede ser convertido a otro tipo que no sea float.
El valor NaN es uno de los principales problemas en el análisis de datos. Es muy esencial tratar con NaN para obtener los resultados deseados.

In [35]:
# El método de pandas para buscar NaN es pd.isnull
pd.isnull(serie2)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [41]:
pd.isnull(serie2).sum()

1

In [38]:
pd.isna(serie2)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [39]:
pd.isna(serie2).sum()

1

🙃🚀---> Nos hemos quedado aquí <--- 🚀🙃

## Datos de lectura/escritura

Pandas puede leer y escribir datos de una gran variedad de formatos. [Lee la documentación](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html)
Aunque una de las más comunes es a partir de un dictado de listas de igual longitud o arrays NumPy:

In [40]:
# Desde un diccionario
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, np.nan]}

In [ ]:
# Para visualizar un dataframe utilizaremos display y NO print

In [ ]:
# Desde una lista de diccionarios
datos = [{'nombre': 'Sonia',
               'apellido': 'Fominaya',
               'email': 'sonia.fominaya@ironhack.com',
               'vacaciones': 30,
               'saludo': lambda : print('Holi, soy Sonia, hacedme lo primerito la Pull Request')}, 
         
         {'nombre': 'Ana',
               'apellido': 'García',
                  'email': 'ana.garcia@ironhack.com',
               'vacaciones': 30,
               'saludo': lambda : print('Hola, soy Ana, cuidado con los print infinitos') },
        {'nombreS': 'Hola',
               'apellido': 'Qué tal',
                  'email': 'ejemplo',
               'vacaciones': np.nan,
               'saludo': lambda: print('Hola, soy Ana, cuidado con los print infinitos') }]

Si hago un dataframe a través de una lista de diccionarios:       
    - Cada diccionario será una fila   
    - Las keys serán los nombres de las columnas    
    - Tienen que tener la misma estructura

Como estamos usando Jupyter Notebook, los objetos DataFrame de pandas se mostrarán como una tabla HTML más amigable para el navegador.

### Cargamos datos de formato CSV

In [ ]:
df = pd.read_csv("../datasets/avocado_kaggle.csv")

### Cargamos datos de formato xlsx

### Visualizamos las primeras filas

Por defecto head me muestra las 5 primeras filas, puedo ver algunas más o algunas menos pasándole un número como parámetro

### Visualizamos las últimas filas

Excatamente igual que con .head() le pasamos un parámetro a .tail()

### Visualizamos una muestra aleatoria

In [ ]:
 #si no le pasamos un parámetro, visualiza una sola fila de forma aleatoria.

In [ ]:
# Muestra aleatoria de 5 filas

In [ ]:
# Muestra aleatoria del 10%

## Análisis exploratorio de un dataframe

In [ ]:
# Seleccionamos las columnas cuyo tipo de dato es int64

In [ ]:
# Podemos incluir y excluir

## Operaciones básicas con los dataframes

### Seleccionamos una columna

In [ ]:
# Tengo una serie de pandas

In [ ]:
# Si solo pongo unos corchetes, tengo una serie de pandas

In [ ]:
# Si a pesar de pasarle una lista, solo tiene un elemento, tengo un dataframe con una sola columna

In [ ]:
# O dos :), o las que queramos

### Seleccionamos varias columnas

In [ ]:
#le podemos pasar directamente una lista con los nombres de las columnas

In [ ]:
# Listar los nombres de columnas de un dataframe

### Obtener los valores únicos de una columna (es decir, una serie)

### Cambiar el tipo de datos de una columna

In [ ]:
# Atención!! que no se cambian los datos si no sobreescribimos la columna

In [ ]:
# Para crear una columna nueva solamente tengo que darle un nombre, por ejemplo df["nueva"]
# Como cuando en un diccionario añado una KEY

In [ ]:
# No puedo sumar strings y números
# df["ejemplo"] = df.AveragePrice + df.region

### Filtramos los datos por el valor de las columnas

In [ ]:
# ESTE CÓDIGO HACE EXACTAMENTE LO MISMO QUE LO ANTERIOR

In [ ]:
# multicondición, & and lógico

In [ ]:
# | or logico

### Copia de un dataframe y renombrar columnas

#### Renombramos columnas
Para renombrar columnas necesitamos un diccionario

In [ ]:
# Utilizamos el inplace=True para que se ejecute la acción sobre el dataframe

El método rename me permite renombrar solamente las columnas que yo quiera, las que estén en el diccionario. No hace falta renombrar todas a la vez

In [ ]:
# Podríamos guardarlo en una nueva variable

#### Podemos renombrar las columnas machacando el atributo de la instancia... ¿os suena esto?
Requiere una lista con el mismo número de columnas

In [ ]:
# O podríamos machacar el atributo del objeto columns

### Borramos columnas

In [ ]:
# Axis 1 siempre columnas

### Borramos filas

In [ ]:
# Axis 0 siempre filas

Las filas también se pueden eliminar. Ten en cuenta que los índices no se reinician. El índice se asocia a la fila, no al orden.   
¿Se puede reiniciar el index? Correcto

### Reset_index y set_index

Leemos la [documentación](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reset_index.html) para entender algunos parámetros

In [ ]:
#Drop = True evita que se genere otra columna con el index anterior

#### SET_INDEX

¿Para qué nos puede servir tener la fecha como índice?    
Lo veremos más adelante, para analizar series temporales, pero os avanzo un poco de fantasía

### Operaciones entre columnas

In [ ]:
# Para generar una columna nueva solo tengo que ponerle un nombreS

## Apply !!

Aplica una función a lo largo de un eje del DataFrame.      
[Lee la doc](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html)

In [ ]:
#Creamos una función sencilla que vamos a aplicar

In [ ]:
# Aplicamos la función a una columna y vemos el resultado en la salida

In [ ]:
# Si quiero machacar la columna

In [ ]:
# Vamos a crear una columna nueva haciendo un apply a otra columna

In [ ]:
#Hazlo con lambda!!
# Vamos a hacer una columna nueva que junte región y año solamente si en type pone convencional y si no otra cosa

In [ ]:
# Aplicamos una función que además de x tiene otro argumento.

In [ ]:
# no puedo, tengo que hacerlo con lambda como hemos hecho arriba

Cuando hago un apply sobre una columna, aunque use un lambda, no pongo axis porque en el caso de abajo, lo que estoy haciendo es modificar una columna, utilizo lambda para decirle al apply que el primer argumento es un string que viene de fuera y el segundo argumento es el propio registro del dataframe.

## Df .loc e .iloc

### Seleccionar filas y columnas en Pandas mediante posición con iloc

El método iloc se utiliza en los DataFrames para seleccionar los elementos en base a su ubicación. Su sintaxis es data.iloc[<filas>, <columnas>], donde <filas> y <columnas> son la posición de las filas y columnas que se desean seleccionar en el orden que aparecen en el objeto. Una notación familiar para los usuarios de Matlab. En un DataFrame cada una de las filas tiene un número que va desde 0 hasta el total de filas menos uno. Siendo iloc el método que permite seleccionar los datos en base a estos números. Lo mismo que aplica a las columnas.

En iloc hay dos argumentos filas y columnas. En caso de que se omita el segundo, se seleccionarán todas las columnas de la fila. Así para seleccionar diferentes filas se puede utilizar.

In [ ]:
#seleccionamos un registro completo

In [ ]:
#un rango de registros con sliding

In [ ]:
# Registros de la primera columna

In [ ]:
# El segundo argumento, en este caso el número 1, es la columna, aquí no pasamos string si no posición.

In [ ]:
# COLUMNAS POR RANGO

### Seleccionar filas y columnas en Pandas en base a etiquetas con loc
El método loc se puede usar de dos formas diferentes: seleccionar filas o columnas en base a una etiqueta o seleccionar filas o columnas en base a una condición.

#### En base a etiqueta

## Ordenamos un dataframe

Sintaxis del loc con varias condiciones
```python 
df.loc[(df["columna"] condición) & (df["columna"] condición)]
````

Misma operación, pero dame solo columnas concretas

In [ ]:
# Esta selección de columnas la vimos al principio, pasarle una lista para que coja solo las columnas que quiero

### Buscamos valores nulos

#### ¿Es nulo?

#### ¿Es NO nulo?

#### Sacar una suma de los valores nulos de cada columna

### Borramos los valores nulos
Hay varias formas de hacerlo, tenemos en cuenta el parámetro "how" y, desde luego, [nos leemos la documentación](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html).

In [ ]:
#Con "all" borramos donde TODOS los registros sean NaN

In [ ]:
# NUNCA BORRAMOS LOS NAN A LO LOCO, OS LO SUPLICO 
# Si no pongo nada, axis = 0 entonces borra todas las filas que contengan un NaN da igual en qué columna

In [ ]:
# si hago drop axis=1 lo que borramos son las columnas, ESTO TAMPOCO LO HACEMOS POR FAVOR

In [ ]:
# BORRAMOS LOS REGISTROS DONDE TODO SEA NAN (poner axis=0 es lo mismo que nada porque viene por defecto)

In [ ]:
# Borramos las columnas donde todo sea NAN

RECORDAD QUE INPLACE TRUE ES PARA QUE EL MÉTODO ACCIONE SOBRE EL DF, SI NO, TENGO QUE GUARDARLO EN UNA VARIABLE NUEVA

Con "any" (parámetro que viene by default así que ojo con no poner nada) se borran todos los registros en los que en alguna columna haya un NaN

### Cómo rellenar los datos que faltan

¿Qué os parece un poquito de [documentación](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html)?

In [ ]:
#FILLNA es el método que me va a permitir rellenar los NAN con lo que yo le ponga

In [ ]:
# REPASAMOS APPLY PARA SACAR UNA COLUMNA NUEVA CON INFORMACIÓN DE OTRA

##### CATEGÓRICAS EN DATAFRAME Y DEJAR DOCUMENTACIÓN
https://runebook.dev/es/docs/pandas/user_guide/categorical

In [ ]:
# ValueError: Cannot setitem on a Categorical with a new category, set the categories first

## Borramos los duplicados

## Agregación de datos
### GroupBy
GroupBy de Pandas es una función potente y versátil en Python. Nos permite dividir sus datos en grupos separados para realizar cálculos para un mejor análisis.
Un DataFrame puede agruparse en sus filas (eje=0) o en sus columnas (eje=1). Una vez hecho esto, se aplica una función a cada grupo, produciendo un nuevo valor. Finalmente, los resultados de todas esas aplicaciones de funciones se combinan en un objeto resultado. La forma del objeto resultante dependerá normalmente de lo que se haga con los datos.

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html

In [ ]:
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'], 'key2' : ['one', 'two', 'one', 'two', 'one'],'data1' : np.random.randn(5),'data2' : np.random.randn(5)})

Supongamos que queremos calcular la media de la columna data1 utilizando las etiquetas de key1. Hay varias formas de hacerlo. Una es acceder a datos1 y llamar a groupby con la columna (una Serie) en key1.
Los datos (una Serie) han sido agregados según la clave de grupo, produciendo una nueva Serie que ahora está indexada por los valores únicos de la columna clave1. El índice resultante tiene el nombre 'clave1' porque la columna DataFrame `df['clave1']` lo hizo.

#### Me preguntaréis ¿y si quiero agrupar por más columnas?

Otra forma de groupby con sintaxis agg     
https://pandas.pydata.org/docs/reference/api/pandas.core.groupby.DataFrameGroupBy.aggregate.html

- mean
- sum
- count

In [ ]:
# Esto es lo mismo que lo anterior, añado la columna AGE y al final hago la media

### Unión de Dataframes
- https://realpython.com/pandas-merge-join-and-concat/
- https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html


### Concat
Unimos dataframes a lo largo del eje 0 uno debajo de otro. Alinea las columnas por etiqueta.

In [ ]:
# Podemos concatenar uno al lado del otro pero tienen que tener el mismo número de filas

### Merge

[Merge()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html) es más útil cuando se desea combinar filas que comparten datos.

In [ ]:
df1=pd.DataFrame({'lkey': ['k0', 'k1', 'k2'],
                   'B': [1, 2, 3]})

df2=pd.DataFrame({'rkey': ['k0', 'k1', 'k2'],
                   'B': [4, 6, 7]})

In [ ]:
df3=pd.DataFrame({'rkey': ['k0', 'k1', 'k2'],
                   'Otracol': [4, 6, 7]})

In [ ]:
# Una vez hemos mergeado, nos interesa eliminar la columna repetida

# Cuando no me coinciden los datos

In [ ]:
df1=pd.DataFrame({'lkey': ['k0', 'k1', 'k2'],
                   'B': [1, 2, 3]})

df2=pd.DataFrame({'rkey': ['k0', 'k1', 'k3'],
                   'B': [4, 6, 7]})

In [ ]:
uno_2=pd.DataFrame({'nombre': ['ras', 'sonia', 'ana', 'dobby', 'k4'],
                  'dirección': ['calle fantasía', 'a1', 'a2', 'a3', 'a4']})

otro_2=pd.DataFrame({'nombre': ['ras', 'ana', 'sonia'],
                  'teléfono': ['7245689247', 'b1', 'b2']})

In [ ]:
 # Si no pongo how es un INNER y borra donde no haya match

### Join
El join, a diferencia del merge, va a unir los dataframes y donde no haya registros en el "índice" va a poner NaN

In [ ]:
uno=pd.DataFrame({'key': ['k0', 'k1', 'k2', 'k3', 'k4'],
                  'A': ['a0', 'a1', 'a2', 'a3', 'a4']})

otro=pd.DataFrame({'key': ['k0', 'k1', 'k2'],
                  'B': ['b0', 'b1', 'b2']})

## Exportar datos

## Métodos habituales de pandas
```python
df.head()                     # printea la cabeza, por defecto 5 filas
df.tail()                     # pritea la cola, por defecto 5 filas
df.describe()                 # descripcion estadistica
df.info()                     # informacion del df
df.info(memory_usage='deep')
df.columns                    # muestra columna
df.index                      # muestra indice
df.dtypes                     # muestra tipos de datos de las columnas
df.plot()                     # hace un grafico
df.hist()                     # hace un histograma
df.col.value_counts()         # cuenta los valores unicos de una columna
df.col.unique()               # muestra valores unicos de una columna
df.copy()                     # copia el df
df.drop()                     # elimina columnas o filas (axis=0,1)
df.dropna()                   # elimina nulos
df.fillna()                   # rellena nulos
df.shape                      # dimensiones del df
df._get_numeric_data()        # selecciona columnas numericas
df.rename()                   # renombre columnas
df.str.replace()              # reemplaza columnas de strings
df.astype(dtype='float32')    # cambia el tipo de dato
df.iloc[]                     # localiza por indice
df.loc[]                      # localiza por elemento
df.transpose()                # transpone el df
df.T
df.sample(n, frac)            # muestra del df
df.col.sum()                  # suma de una columna
df.col.max()                  # maximo de una columna
df.col.min()                  # minimo de una columna
df[col]                       # selecciona columna
df.col
df.isnull()                   # valores nulos
df.isna()
df.notna()                    # valores no nulos
df.drop_duplicates()          # eliminar duplicados
df.reset_index(inplace=True)  # resetea el indice y sobreescribe
```

## Resumen
Es tu turno ¿qué hemos aprendido hoy?

## Further materials

* [Read the docs!](https://pandas.pydata.org/pandas-docs/stable/index.html)
* [Cheatsheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)
* [Exercises to practice](https://github.com/guipsamora/pandas_exercises)
* [More on merge, concat, and join](https://realpython.com/pandas-merge-join-and-concat/#pandas-join-combining-data-on-a-column-or-index). And [even more!](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html)
* [Materials by a friend of a friend Juan Huguet](https://github.com/juanhuguetgarcia/uib-aa-g1-material/tree/master/W1%20-%20Intro%20to%20python%20y%20pandas)